@use "../../styles/variables" as *;

.successDialog {
  position: relative;
  padding: 46px 36px;
  width: 100%;
  color: $text-color;

  .dialogClose {
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
    border: 0;
    background: transparent;
    padding: 0;
  }

  h1 {
    padding-bottom: 26px;
  }

  p {
    padding-bottom: 26px;
    line-height: 22px;
    max-width: 320px;
  }
}
