@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/breakpoint" as *;

.sideNav {
  background-color: $primary-color;
  padding: 14px 20px;
  height: 100%;

  a,
  button {
    @include font-size(16px);
    color: $white-color;
    @include flex();
    @include align-items(center);
  }

  button {
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
  }

  .myApps {
    a {
      padding: 6px 0;

      i {
        padding: 12px 6px;
        margin-right: 12px;
        background-color: $primary-color;
        border-radius: 4px;
      }
    }
  }

  nav {
    ul {

      &.mainMenu {

        button.activeMainItem {
          background-color: $sideNavActive;
          border-left: 3px solid $white-color;

          i {
            transform: rotate(180deg);
          }
        }

        > li > button i {
          transition: transform 0.3s ease-in-out;
        }

        > button:hover {
          background-color: $sideNavActive;
          border-left: 3px solid $white-color;
        }
      }

      &.subMenu {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;

        &.subMenuOpen {
          max-height: 500px;
          opacity: 1;
        }

        button.activeSubItem {
          background-color: $sideNavActive;
          border-left: 3px solid $sideNavActive;
        }

        button:hover {
          background-color: $sideNavActive;
          border-left: 3px solid $sideNavActive;
        }
      }

      li {
        margin: 16px 0;

        a {
          padding: 14px 20px;
          border-radius: 4px;
          border-left: 3px solid $primary-color;

          i {
            margin-left: auto;
          }
        }

        button {
          padding: 14px 20px;
          border-radius: 4px;
          border-left: 3px solid $primary-color;

          i {
            margin-left: auto;
          }
        }
      }
    }
  }

  .bottomLink {
    padding: 20px 0;
    border-top: 1px solid $white-color;
    border-bottom: 1px solid $white-color;

    a {
      padding: 14px 20px;
    }

    i {
      margin-right: 12px;
    }
  }
}
