@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/breakpoint' as *;

.layout {
  display: flex;
  min-height: calc(100% - 130px);

   .contentWrapper {
     @include flex();
     width: 100%;
   }
}

.sidebar {
  width: 290px;
  min-width: 290px;
  flex-shrink: 0;
}

.main {
  flex: 1;
  min-width: 0;
  padding: 20px;
  height: 100%;
  background-color: $white-color;
}

.navFolded {

  .sidebar {
    display: none;
  }

  .borderTop {
    max-width: 100% !important;
  }
}