@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/breakpoint" as *;

.groupBox {
  padding: 36px 24px;
  border: 1px solid $medium-gray;
  border-radius: 10px;

  ul {
    @include flex();
    @include align-items(center);
    margin-left: -16px;
    margin-right: -16px;

    li {
      padding: 0 16px;
      width: calc(100% / 4);
    }
  }

  .quickLinksWrap {
    padding: 36px 26px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    text-align: center;

    .icons {
      @include flex();
      @include justify-content(center);
      background-color: $primary-color;
      border-radius: 30px;
      width: 49px;
      margin: auto;
      padding: 14px 0;
    }

    label {
      @include font-size(16px);
      line-height: 20px;
      color: $primary-color;
      display: block;
      padding-top: 10px;
    }
  }
}

.tableContainer {
  padding: 20px 0;

  .title {
    padding: 14px 0 16px;

    p {
      @include font-size(22px);
      line-height: 30px;
      font-weight: 500;
      color: #0b2b4c;
    }
  }
}

.tableWrap {
  width: 100%;
  max-height: 368px;
  overflow: auto;

  .dataTable {
    width: 100%;
    min-width: 1440px;
    border-collapse: separate;
    border-spacing: 0;
    background-color: $white-color;

    thead {
      position: sticky;
      top: 0;
      z-index: 10;
      background-color: $white-color;
      transform: translateZ(0);
      will-change: transform;
      backface-visibility: hidden;

      tr {
        th {
          @include font-size(14px);
          font-weight: 500;
          color: $text-color;
          text-align: left;
          vertical-align: middle;
          white-space: nowrap;
          padding: 16px 18px;
          border: 1px solid $medium-gray;

          &:not(:last-child) {
            border-right: none;
          }

          p {
            @include font-size(16px);
            line-height: 22px;
            font-weight: 500;
            color: #2e2e2e;
          }
        }
      }
    }

    tbody {
      tr {
        &:nth-child(even) {
          background-color: #fafafa;
        }

        td {
          padding: 16px 18px;
          border-bottom: 1px solid #eee;

          p {
            @include font-size(16px);
            line-height: 22px;
            color: #005dab;
          }

          &:last-child {
            border-right: none;
          }

          .batchLink {
            @include font-size(16px);
            line-height: 22px;
            color: #005dab;
            cursor: pointer;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }

          .noDatafound {
            margin-left: -18px;
            margin-right: -18px;
          }
        }
      }
    }
  }
}

.successfullDialog {
  position: relative;
  padding: 46px 36px;
  width: 100%;
  color: $text-color;

  .dialogClose {
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
  }

  h1 {
    padding-bottom: 26px;
  }

  p {
    padding-bottom: 26px;
    line-height: 22px;
    max-width: 320px;
  }
}
