@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/breakpoint" as *;

.groupBox {
  padding: 36px 24px;
  border: 1px solid $medium-gray;
  border-radius: 10px;

  ul {
    @include flex();
    @include align-items(center);
    margin-left: -10px;
    margin-right: -10px;

    li {
      padding: 0 10px;
      width: calc(100% / 4);
    }
  }

  .quickLinksWrap {
    @include flex();
    @include align-items(center);
    padding: 36px 26px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    label {
      @include font-size(18px);
      line-height: 22px;
      font-weight: 500;
      color: $dark-blue-color;
    }

    i {
      margin-right: 10px;
    }
  }
}

.tableContainer {
  padding: 20px 0;

  .title {
    padding: 16px 0;

    p {
      @include font-size(22px);
    }
  }

  .tableScrollWrap {
    max-height: 280px;
    overflow-y: auto;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    background-color: $white-color;
    text-align: left;

    tr:nth-child(even) {
      background-color: $table-bg-color;
    }

    th {
      padding: 16px;
      border: 1px solid $medium-gray;

      p {
        @include font-size(14px);
        font-weight: 500;
      }
    }

    td {
      padding: 10px 16px;
      border-bottom: 1px solid $table-border-color;

      p {
        @include font-size(14px);
        color: $primary-color;
      }

      .noDatafound {
        margin-left: -16px;
        margin-right: -16px;
      }

    }
  }
}

.successfullDialog {
  position: relative;
  padding: 46px 36px;
  width: 100%;
  color: $text-color;

  .dialogClose {
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
  }

  h1 {
    padding-bottom: 26px;
  }

  p {
    padding-bottom: 26px;
    line-height: 22px;
    max-width: 320px;
  }
}
